[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
python-dotenv = "*"
psycopg2 = "*"
pandas = "*"
numpy = "*"
beautifulsoup4 = "*"
requests = "*"
sentence-transformers = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
